* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteiner-principal {
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 50px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: right;
}

.normal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.normal.linha {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.cientifica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

button {
    align-items: center;
    margin: 4px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #aa85ee;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 50px;
    height: 50px;
}

button:hover {
    background-color: #5a99ff;
}

.cientifica.mostrar {
    display: block;
    align-items: center;
    justify-content: center;
}

.cientifica {
    display: none;
    margin-top: 10px;
    background: #f3f3f3;
    border-radius: 10px;
    animation: fadeIn .3s ease;
    width: 100%;
}

.cientifica button {
    width: 70px;
    height: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pullout {
    margin-top: 20px;
    background: #a8a8a8;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

footer {
    font-size: 0.9rem;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;

}